<section class="description" id="description">
  <div class="description_container container">
    <h2 class="title-h2">Game Description</h2>
    <img
      src="./img/game-description-hand.png"
      alt="description hand"
      class="description-hand"
    />
    <div class="description-content">
      <p>
        Experience the thrill of real-time golf like never before in Golf Impact
        - Real Golf Game! Master your swing, challenge players worldwide, and
        compete in stunning courses set across breathtaking global locations.
        With intuitive controls and realistic physics, every shot feels
        authentic and rewarding.
      </p>
      <p>
        Unlock and upgrade powerful clubs, fine-tune your skills, and climb the
        leaderboards to become a true golf champion. Whether you’re a casual
        player or a seasoned pro, Golf Impact delivers an immersive and
        competitive golf experience right at your fingertips.
      </p>
    </div>
  </div>
</section>
