<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">FAQ</h2>
    <ul class="faq_list">
      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Is Golf Impact free to play?</span>
          <img src="./img/faq/plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes, with optional in-game purchases for faster progress.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Can I play offline?</span>
          <img src="./img/faq/plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          No, an internet connection is required for multiplayer matches.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">How do I improve my swing accuracy?</span>
          <img src="./img/faq/plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Practice in training mode and upgrade your clubs.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question"
            >Are there different courses available?</span
          >
          <img src="./img/faq/plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes! Play in various stunning locations around the world.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question-button-js" type="button">
          <span class="faq_question">Can I challenge my friends?</span>
          <img src="./img/faq/plus.png" alt="plus" />
        </button>
        <p class="faq-answer">
          Yes! Invite your friends and compete in private matches.
        </p>
      </li>
    </ul>
    <img class="faq-balls" src="./img/faq/faq-balls.png" alt="balls" />
  </div>
</section>
