<section class="features" id="features">
  <div class="features_container container">
    <h2 class="title-h2">Game Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Realistic Golf Physics</span> – Feel the accuracy of each swing.
        </p>
      </li>
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Global Multiplayer Matches</span> – Compete with players
          worldwide.
        </p>
      </li>
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Intuitive Swing Controls</span> – Easy to learn, hard to master.
        </p>
      </li>
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Tournaments & Championships</span> – Climb the ranks and become
          a legend.
        </p>
      </li>
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Stunning 3D Courses</span> – Play in breathtaking locations.
        </p>
      </li>
      <li class="features-item">
        <img src="./img/features-ball.png" alt="ball" />
        <p class="features-item-description">
          <span>Exclusive Rewards & Upgrades</span> – Customize your gear for
          victory.
        </p>
      </li>
    </ul>
  </div>
</section>
