<section class="how-play" id="how-play">
  <div class="how-play_container container">
    <h2 class="title-h2">How to play</h2>
    <img
      src="./img/how-play-element.png"
      alt="element"
      class="how-play_element"
    />
    <ul class="how-play_list">
      <li class="how-play_item">
        Select your golf club and customize your gear.
      </li>
      <li class="how-play_item">Swipe to control your swing with precision.</li>
      <li class="how-play_item">Compete in 1v1 multiplayer matches.</li>
      <li class="how-play_item">Win tournaments and earn trophies.</li>
      <li class="how-play_item">Upgrade your clubs and skills for better performance.</li>
    </ul>
  </div>
</section>
