<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">User Reviews</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide swiper-slide-review">
          <h3>James R.</h3>
          <p>
            One of the best mobile golf games! The graphics are stunning, and
            the gameplay feels realistic. Highly recommend!
          </p>

          <img class="stars" src="./img/review-stars.png" alt="stars" />
        </div>

        <div class="swiper-slide swiper-slide-review">
          <h3>Sophia M.</h3>
          <p>
            I love the real-time matches! Competing with players worldwide makes
            every game exciting. Definitely worth playing!
          </p>

          <img class="stars" src="./img/review-stars.png" alt="stars" />
        </div>

        <div class="swiper-slide swiper-slide-review">
          <h3>Emily K.</h3>
          <p>
            The controls are smooth, and the courses are beautifully designed.
            Feels like playing real golf!
          </p>
          <img class="stars" src="./img/review-stars.png" alt="stars" />
        </div>

        <div class="swiper-slide swiper-slide-review">
          <h3>Daniel K.</h3>
          <p>
            Great mechanics and fun tournaments! It’s easy to learn but
            challenging enough to keep me coming back.
          </p>
          <img class="stars" src="./img/review-stars.png" alt="stars" />
        </div>

        <div class="swiper-slide swiper-slide-review">
          <h3>Michael B.</h3>
          <p>
            Amazing visuals and great game physics. The multiplayer mode is
            fantastic!
          </p>
          <img class="stars" src="./img/review-stars.png" alt="stars" />
        </div>
      </div>
    </div> 
  </div>
</section>
